body {
    background-image: url(./Discord-imgs/HD\ Discord\ wallpaper.png);
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 60px;
    padding-bottom: 50px;
}
.Sign-up {
    display: flex;
    background: #36393F;
    padding: 20px 20px 20px 30px;
    width:auto;
    border-radius: 5px;
    margin-top: 30px;
}
.Sign-up-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: aliceblue;
}
.input1{
    color: rgb(172, 163, 163);
    
}

form button {
    width: 100%;
    margin-top: 25px;
    font-size: 15px;
    font-weight: 300;
    background: #5865f2;
    color: white;
    border: none;
    padding: 11px;
    border-radius: 2px;
    cursor: pointer;
}

form .input2 {
    width: 400px;
    background: #202225;
    border: none;
    font-size: 15px;
    color: rgb(200, 200, 200);
    padding: 12px;
    border-radius: 2px;
    outline: solid 5px transparent;
}

input:checked{
    width: 25px;
    height: 25px;
}
